@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

/* Variable Declaration */
:root {
  /* --primary-text: #f1f5e9;
  --secondary-text: #BACBD9;
  --tertiary-text: #085574;
  --primary-color: #2C3639;
  --secondary-color: #3D8361;
  --tertiary-color: #1C6758;
  --accent-color: #7fceb1;
  --border-color: #314E59; */
}

/* TEST */
