@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Encode+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mygreen: #8D8741;
    --myblue: #659DBD;
    --mylightbrown: #DAAD86;
    --mydarkbrown: #BC986A;
    --mywhite: #F5F5F5;
    --myblack: #171D20;
    --mygrey: #1E2529;
    --darkgreen: #306844;

    --lightestgrey: #EEEEEE;
    --lightergrey: #DDDDDD;
    --mediumgrey: #CCCCCC;
    --darkergrey: #BBBBBB;
    --darkestgrey: #333333;
}

html {
    scroll-padding-top: 3.25em; /* height of sticky header */
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Archivo', sans-serif;
    font-size: 1rem;
}

.main {
    background-image: url(./images/Lakepic.jpg);
    background-size: cover;
    background-position: center;
}

/* || Bio Original Section */

.bioContainer {
    max-width: 1400px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}

.bioProfile {
    display: flex;
    justify-content: center;   
    align-items: center;       
    margin: 0.75em;
    margin-top: 5em;
}

.bioAvatar {
    width: 100%;
}

.bioStats {
    border: 2px solid black;
    border-radius: 5%;
    background: var(--myblue);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    color: var(--myblack);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 0.5em;
    padding: 1em;
    margin-right: 1em;
}

.bioStats h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bioStats h3 {
    font-size: 1.25rem;
    margin-top: 1em;
}

.bioStats p {
    font-size: 1rem;
    margin-top: 0.5em;
}

.bioBody {
    border: 2px solid black;
    border-radius: 5%;
    height: 90%;
    width: 65%;
    background: var(--mediumgrey);
    margin: 0.25em 1.25em 1.5em 1.25em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bioBody h1 {
    color: black;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0.5em;
}

.bioBody p {
    color: black;
    font-size: 1rem;
    text-align: center;
    padding: 1.5em;
}

/* || Bio Toggled Section */

.bioContainerToggled {
    max-width: 1800px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}

.bioProfileToggled {
    border: 2px solid black;
    height: 90%;
    width: 30%;
    border-radius: 5%;
    background: var(--myblue);
    margin: 0.75em;
    margin-top: 5em;
}

.bioStatsToggled {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    color: var(--myblack);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 0.5em;
    margin-right: 0.5em;
    margin-top: 1em;
}

.bioStatsToggled h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bioStatsToggled h3 {
    font-size: 1rem;
    margin-top: 1em;
}

.bioStatsToggled p {
    font-size: 0.875rem;
    margin-top: 0.5em;
}

.bioBodyToggled {
    border: 2px solid black;
    border-radius: 2%;
    height: 90%;
    width: 70%;
    background: var(--mediumgrey);
    margin: 0.5em;
    margin-top: 4.5em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bioBodyToggled h1 {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 0.5em 0.125em;
}

.bioBodyToggled p {
    color: black;
    font-size: 0.95rem;
    text-align: center;
    padding: 0.75em 1em;
}

/* || Project Section */

.projectContainer {
    height: 100%;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 4em;
}

.projectContainer header {
    font-size: 3rem;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 0.5em 0.25em;
}

.projectContainer main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.webContainer {
    border: 2px solid black;
    background-color: var(--myblue);
    color: black;
    border-radius: 5%;
    grid-column: 1/2;
    grid-row: 1/8;
    margin: 0.5em;
    margin-bottom: 2em;
    padding-bottom: 1em;
}

.appContainer {
    border: 2px solid black;
    background-color: var(--darkgreen);
    color: black;
    border-radius: 5%;
    grid-column: 2/3;
    grid-row: 1/5;
    margin: 0.5em;
}

.unityContainer {
    border: 2px solid black;
    background-color: var(--darkergrey);
    color: black;
    border-radius: 10%;
    grid-column: 2/3;
    grid-row: 5/8;
    margin: 0.5em;
    margin-bottom: 2em;
}

.projectsHeader {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 0.25em;
    padding: 0.25em;
}

/* || Contact Section */

.contactContainer {
    height: 1200px;
    width: 95%;
    margin: 0 auto;
    color: var(--mywhite);
}

.contactContainer header {
    font-size: 3rem;
    color: var(--mywhite);
    font-weight: bold;
    text-align: center;
    margin: 0.5em 0.25em;
}

.contactInfoContainer {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactInfoContainer h2 {
    font-size: 3rem;
    color: black;
}

.linksContainer {
    margin-bottom: 4em;
}

.linkedInContainer,
.gitHubContainer {
    border: 2px solid black;
    background-color: var(--lightestgrey);
    border-radius: 10%;
    padding: 1em;
    margin: 3em;
    margin-bottom: 2em;
    text-align: center;
}

.linkedInLink {
    color: blue;
    text-decoration: underline;
    font-size: 1.5rem;
}

.gitHubLink {
    color: green;
    text-decoration: underline;
    font-size: 1.5rem;
}

.emailContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 50%;
    margin-bottom: 6em;
}

.emailMessage {
    font-size: 1.25rem;
    margin: 1em;
}

textarea {
    width: 100%;
    height: 300px;
    border: 2px solid black;
    color: black;
    margin-bottom: 2em;
}

/* || Buttons */

.btn-collapse {
    width: 10em;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding: 0.5em 1.25em;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn svg {
    margin-right: 0.5em;
}

.btn-block {
    width: 30%;
    margin-bottom: 1.25em;
}

.btn:hover
.btn:focus {
    transform: scale(0.98);
}

/* || Cards */

.webLink {
    color: blue;
    text-decoration: underline;
}

.gitLink {
    color: green;
    text-decoration: underline;
}

.cardContainer {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.125em;
}

.webCardContainer {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4.5em 0.5em;
}

.cardBody {
    border: 2px solid black;
    width: 24em;
    height: 11.5em;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0.5em;
    margin-left: 1em;
    background-color: var(--mywhite);
    border-radius: 20%;
}

.cardPicture {
    border: 1px solid black;
    object-fit: cover;
    object-position: center;
    width: 7rem;
    height: 7rem;
}

.cardBody h2 {
    font-size: 1.25rem;
    margin-bottom: 0.5em;
}

.cardBody p {
    margin-bottom: 0.5em;
}

/* || Popup */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupInner {
    position: relative;
    padding: 4em;
    width: 80%;
    background-color: var(--lightergrey);
}

.popupPicture {
    width: 100%;
    height: 100%;
    margin-bottom: 1.5em;
}

.popupInner .btn-close {
    position: center;
    width: 100%;
}

/* || Media Query */

@media (max-height: 900px) {

    .bioProfile {
        height: 60%;
        margin: 0.25em;
        margin-top: 3em;
    }

    .bioStats {
        font-size: 1.625rem;
    }

    .bioStats h3 {
        font-size: 1rem;
    }
    
    .bioStats p {
        font-size: 0.75rem;
    }

    .bioBody {
        width: 100%;
        margin: 0em;
        padding: 0.5em;
    }

    .bioBody h1 {
        font-size: 1.5rem;
    }
    
    .bioBody p {
        font-size: 0.875rem;
    }

    .bioStatsToggled {
        grid-gap: 0.75em;
        font-size: 1.75rem;
        margin: 0.25em;
        margin-right: 0.5em;
        margin-top: 0.5em;
    }
    
    .bioStatsToggled h3 {
        font-size: 0.875rem;
        margin-top: 1em;
    }
    
    .bioStatsToggled p {
        font-size: 0.75rem;
        margin-top: 0.5em;
    }
    
    .bioBodyToggled {
        margin: 0.5em;
        margin-top: 4.5em;
        padding: 0.5em;
    }
    
    .bioBodyToggled h1 {
        font-size: 1.25rem;
        margin: 0.5em 0.125em;
    }
    
    .bioBodyToggled p {
        font-size: 0.9rem;
        padding: 0.75em 1em;
    }
}

@media (max-width: 1850px) {

    .projectContainer main {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cardBody {
        margin-left: 0.5em;
    }

    .cardContainer {
        grid-gap: 0.5em;
    }
    
    .webCardContainer {
        grid-gap: 0.5em;
    }

    .appContainer {
        padding-bottom: 1em;
    }
    
    .unityContainer {
        padding-bottom: 1em;
    }
}

@media (max-width: 1400px) {

    .bioContainerToggled {
        flex-direction: column;
    }

    .bioProfileToggled {
        width: 70%;
        border-radius: 5%;
        display: flex;
    }

    .bioBodyToggled {
        margin-top: 2em;
    }

    .bioStats {
        font-size: 1.5rem;
    }

    .bioStats h3 {
        font-size: 0.875rem;
    }
    
    .bioStats p {
        font-size: 0.625rem;
    }

    .bioBody {
        width: 90%;
    }

    .bioBody h1 {
        font-size: 1.5rem;
    }
    
    .bioBody p {
        font-size: 0.875rem;
    }
}

@media (max-width: 1100px) {

    .bioProfileToggled {
        flex-direction: column;
        align-items: center;
    }

    .bioStats {
        font-size: 1.5rem;
    }

    .bioStats h3 {
        font-size: 0.875rem;
    }
    
    .bioStats p {
        font-size: 0.625rem;
    }

    .bioBody {
        width: 90%;
    }

    .bioBody h1 {
        font-size: 1.375rem;
    }
    
    .bioBody p {
        font-size: 0.75rem;
    }

    .emailContainer {
        width: 70%;
        margin-bottom: 3em;
    }
}