@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font */
/* @import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap'); */

/* Variable Declaration */
@layer components {

  /* Landing Elements */

  .landing-colors {
    @apply bg-landing-color text-light-text;
  }

  .landing-layout {
    @apply h-screen;
  }

  .landing-header {
    @apply mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl z-10;
  }

  .landing-tagline {
    @apply mb-6 font-normal;
  }

  .landing-my-work-text {
    @apply text-button-hover font-bold cursor-pointer hover:text-button-light;
  }

  .landing-button-colors {
    @apply bg-button-dark hover:bg-button-hover text-light-text border-button-light hover:border-button-dark;
  }

  .landing-button-border {
    @apply rounded-lg border-2;
  }

  .landing-button-layout {
    @apply w-48 py-3 px-5 inline-flex text-base font-medium;
  }

  .landing-button-animation {
    @apply cursor-pointer transition-all ease-in-out delay-100 hover:translate-y-1 hover:scale-110 duration-300;
  }

  .landing-button-arrow-layout {
    @apply ml-2 -mr-1 w-5 h-5;
  }

  .landing-button-arrow-spin {
    @apply transition-all ease-in-out duration-500;
  }

  /* Navbar Elements */

  .navbar-colors {
    @apply bg-button-dark text-light-text;
  }

  .navbar-layout {
    @apply py-4 px-2 border-b-4 border-button-light;
  }

  .navbar-placement {
    @apply relative;
  }

  .sticky-navbar-placement {
    @apply fixed top-0 left-0 w-full z-20;
  }

  .navbar-text {
    @apply font-semibold text-lg;
  }

  .navbar-animation {
    @apply inline-block cursor-pointer transition-all ease-in-out delay-100 hover:scale-110 hover:text-button-light duration-300;
  }

  /* About Page Elements */

  .profile-picture-clip {
    clip-path: polygon(15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%, 0% 50%);
  }

  .skills-circle-color {
    @apply bg-button-hover ring-light-text;
  }

  .skills-circle-layout {
    @apply flex absolute w-10 h-10 md:w-12 md:h-12 -left-[21px] md:-left-[25px] justify-center items-center xl:-left-[33px] xl:w-16 xl:h-16 rounded-full ring-4;
  }

  .skills-circle-icon {
    @apply text-[16px] md:text-[20px] xl:text-[28px]
  }

  .skills-layout {
    @apply mb-16 ml-12 xl:mb-20 xl:ml-16;
  }

  .skills-layout-bottom {
    @apply mb-4 ml-12 xl:mb-8 xl:ml-16;
  }

  .skills-header {
    @apply mb-1 ml-2 font-semibold;
  }

  .skills-text {
    @apply text-button-dark ml-2 text-base font-semibold xl:mb-4;
  }

  .link-hover {
    @apply hover:text-button-hover;
  }

  .experience-circle-color {
    @apply bg-button-dark text-light-text ring-light-text hover:bg-button-light  hover:text-black transition duration-300;
  }

  .experience-circle-layout {
    @apply flex justify-center items-center w-12 h-12 md:w-16 md:h-16 xl:w-20 xl:h-20 rounded-full ring-4 sm:ring-8 shrink-0;
  }

  .experience-circle-icon {
    @apply text-[24px] md:text-[28px] xl:text-[40px];
  }

  .experience-circle-animation {
    @apply cursor-pointer transition-all ease-in-out delay-100 hover:-translate-y-1 hover:scale-110 duration-300;
  }

  .experience-through-line {
    @apply flex w-full bg-landing-color h-0.5;
  }

  .experience-subheader {
    @apply block my-2 font-normal leading-none text-gray-600;
  }

  .experience-paragraph {
    @apply mb-6 md:m-0 text-base font-normal;
  }

  /* Portfolio Page Elements */
  .portfolio-card-layout {
    @apply absolute inset-0 bg-gradient-to-br from-transparent via-transparent to-black rounded-xl;
  }

  .portfolio-card-normal {
    @apply flex center-all;
  }

  .portfolio-card-special {
    @apply sm:col-span-2 sm:row-span-2 lg:col-span-3 lg:row-span-3;
  }

  .portfolio-card-title {
    @apply text-center bg-black w-full md:text-lg lg:text-lg 2xl:text-3xl font-bold text-light-text rounded-t-xl p-2;
  }

  .portfolio-button-icon {
    @apply my-4 w-6 h-6 md:w-12 md:h-12 xl:w-20 xl:h-20 cursor-pointer;
  }

  .portfolio-button-color {
    @apply ring-light-text;
  }

  .portfolio-button-layout {
    @apply -translate-y-[50%] -translate-x-[50%] justify-center items-center w-10 h-10 xl:w-14 xl:h-14 rounded-lg ring-2;
  }

  .portfolio-icons {
    @apply text-[28px] xl:text-[40px] text-light-text;
  }

  /* Contact Page Elements */

  .input-div {
    @apply col-flex center-all mb-6;
  }

  .input-forms-colors {
    @apply bg-gray-50 border-button-dark;
  }

  .input-forms-layout {
    @apply border-2 rounded-lg block p-2.5 m-4 w-full;
  }

  .input-textbox-layout {
    @apply border-2 rounded-lg block p-2.5 w-full;
  }

  .contact-button-colors {
    @apply bg-button-dark text-light-text border-button-hover hover:bg-button-hover hover:border-button-dark transition-colors duration-300;
  }

  .contact-button-border {
    @apply rounded-lg border-2;
  }

  .contact-button-layout {
    @apply m-2 md:m-4 px-2.5 py-1 md:px-5 md:py-2.5;
  }

  .contact-resume-icon {
    @apply text-[40px] mt-2;
  }

  /* Footer Elements */

  .footer-button-color {
    @apply ring-light-text;
  }

  .footer-button-layout {
    @apply absolute -top-[72px] justify-center items-center w-16 h-16 xl:w-20 xl:h-20 rounded-lg ring-2;
  }

  .footer-button-animation {
    @apply cursor-pointer transition-all ease-in-out delay-100 hover:-translate-y-1 hover:scale-110 duration-300;
  }

  .footer-icons {
    @apply text-[28px] xl:text-[40px] text-light-text;
  }

  /* Util Elements */

  .center-all {
    @apply justify-center items-center text-center;
  }

  .center-between {
    @apply justify-between items-center text-center;
  }

  .center-around {
    @apply justify-around items-center text-center;
  }

  .col-flex {
    @apply flex flex-col;
  }

  .row-flex {
    @apply flex flex-row;
  }
  
  .text-header {
    @apply mb-12 text-4xl font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl;
  }

  .text-mark {
    @apply bg-button-dark text-light-text px-4 rounded;
  }

  .text-tagline-size {
    @apply text-sm md:text-base xl:text-lg
  }

  .text-subtagline-size {
    @apply text-xs md:text-sm xl:text-base;
  }

  .outer-box-color {
    @apply bg-background-color;
  }

  .outer-box-layout {
    @apply m-2 p-2 md:m-16 md:p-16;
  }

  .outer-box-border {
    @apply rounded-xl;
  }

  .inner-box-color {
    @apply bg-inner-bg text-gray-900;
  }

  .inner-box-second-color {
    @apply bg-button-dark text-gray-900;
  }

  .inner-box-layout {
    @apply p-10;
  }

  .inner-box-border {
    @apply rounded-lg;
  }

  .grid-layout {
    @apply grid grid-flow-dense auto-rows-auto grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4 lg:gap-4 lg:p-8;
  }

}

/* TEST */
/* #landing-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

/* #landing-splash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
} */
